	<h1>Hello!</h1>
	
	<h2><a href="/admin/new_post?admin_key=<%= params[:admin_key] %>">Create a new post</a></h2>
	<h2><a href="/admin/list_posts?admin_key=<%= params[:admin_key] %>">Manage posts</a></h2>
	<h2><a href="/admin/refresh?admin_key=<%= params[:admin_key] %>">Refresh the post cache</a></h2>
	<h2><a href="/admin/rebuild?admin_key=<%= params[:admin_key] %>">Force rebuild the post cache</a></h2>