<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>callumj.com. an internet webpage<%= " - " + @post.title if @post != nil %></title>
		<% @css_files.each do |css| %>
			<link rel="stylesheet" href="<%= css %>" type="text/css" media="screen" title="no title" charset="utf-8" />
		<% end %>
		<% @js_files.each do |js| %>
			<script src="<%= js %>" type="text/javascript" charset="utf-8"></script>
		<% end %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20935204-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<link rel="alternate" href="/rss.xml" title="callumj feed" type="application/rss+xml" />
		<meta name="Generator" content="FrontPage 4.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" /> 
	</head>
	<body>
		<div id="navigation">
			<p class="big">callumj</p>
			<ul class="mainnav">
				<li><p><a href="/">home</a></p></li>
				<li><p><a href="/post/contact.html">contact</a></p></li>
				<li><p><a href="/post/about.html">about</a></p></li>
			</ul>
			
			<ul class="mylinks">
				<li><p><a href="http://www.facebook.com/callumj">facebook</a></p></li>
				<li><p><a href="http://twitter.com/callumj">twitter</a></p></li>
				<li><p><a href="http://www.flickr.com/photos/callumj/">flickr</a></p></li>
			</ul>
			
			<div class="footer">
				<p>a collection of thoughts, questions and fun by callum jones</p>
			</div>
		</div>
				
		<div id="content">
			<%= yield %>
		</div>
		
		<% if @adminMode %>
			<div id="cheatsheet">
				<h1>Markdown cheatsheet</h1>
				<div id="cheatsheet_contents">
					<div>
						<p># Header 1 #</p>
						<p>## Header 2 ##</p>
						<p>### Header 3 ###</p>
						<p>#### Header 4 ####</p>
						<p>##### Header 5 #####</p>
					</div>

					<div>
						Here is a Markdown link to [Warped](http://warpedvisions.org), and a literal . 
						Now some SimpleLinks, like one to [google] (automagically links to are-you-
						feeling-lucky), a [wiki: test] link to a Wikipedia page, and a link to 
						[foldoc: CPU]s at foldoc.
					</div>

					<div>Now some inline markup like _italics_,  **bold**, and `code()`.</div>

					<div>![picture alt](/images/photo.jpeg "Title is optional")</div>  
					
					<div>
					<p>* Bullet lists are easy too</p>
					<p>- Another one</p>
					<p>+ Another one</p>
					</div>

					<p>1. A numbered list</p>
					<p>2. Which is numbered</p>
					<p>3. With periods and a space</p>
				</div>
			</div>
		<% end %>	
	</body>
</html>
