a:link, a:hover, a:visited {
	text-decoration: none;
	color: black;
	border: none;
}

img {
	border: none;
}

body {
	font-smooth: always;
	font-family: Trebuchet, 'Trebuchet MS', Helvetica, sans-serif;;
	background-color: #f8f8f8;
}

#content {
	padding: 0 0 0 5px;
	margin: 0 0 0 0;
	position: relative;
	left: 25%;
	width: 55%;
	background-color: #ffffff;
	display: block;
	z-index: 5;
}

#content a:link, #content a:hover, #content a:visited {
	text-decoration: underline;
}

.post {
	
	padding-bottom: 5px;
	margin-bottom: 40px;
}

.post h2, .post-focus h2 {
	font-size: xx-large;
	font-weight: bold;
	color: black;
	padding: 0 0 2px 0px;
	margin: 0 0 5px 0;
	border-right: 10px solid #1c435f;
	border-bottom: 2px solid #1c435f;
}

.post .content, .post-focus .content {
	font-size: 11pt;
	font-weight: 400;
	padding: 0 2px 0 2px;
	margin: 0 0 5px 0;
}

.post .content p {
	padding: 2px 0 0 0;
	margin: 0 0 0 0;
}

.post .info, .post-focus .info {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #ffffff;
	font-size: 8pt;
}


/* Focused post */
.post-focus {
	border-bottom: 3px solid black;
	padding-bottom: 10px;
}

.post-focus .info {
	font-size: 10pt;
}

.commentform {
	padding: 0 0 0 0;
	margin: 10px 0 0 0;
}

.commentform h4 {
	color: gray;
	font-size: 15pt;
	padding: 0 0 5px 0;
	margin: 0 0 0 0;
}

.commentform p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.commentform .label {
	font-size: 13pt;
	font-weight: bold;
}

#comments {
	padding: 2px 0 0 0;
	margin: 5px 0 0 0;
	border-top: 1px solid gray;
}

.comment p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.comment .author {
	font-size: 11pt;
	font-weight: bold;
}

.comment .message {
	font-size: 10pt;
	padding-left: 5px;
}

/* Navigation */
#navigation a, #navigation a:visited, #navigation a:hover {
}

#navigation {
	display: block;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: absolute;
	top: 30px;
	width: 20%;
	z-index: 2;
}

#navigation .mainnav {
	list-style: none;
	padding: 0 0 0 0;
	margin: 0 0 0 5px;
}

#navigation .mainnav li p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 69pt;
	font-weight: bold;
}

#navigation .mylinks {
	list-style: none;
	padding: 0 0 0 0;
	margin: 40px 0 0 5px;
}

#navigation .mylinks li p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 25pt;
	font-weight: bold;
}

#navigation .otherlinks {
	width: 100%;
	list-style: none;
	padding: 0 0 0 0;
	margin: 40px 0 0 5px;
}

#navigation .otherlinks li {
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 12pt;
	font-weight: bold;
}

#navigation .big {
	padding: 0 0 5px 0;
	margin: 0 0 0 0;
	color: #1c435f;
	font-size: 70pt;
	font-weight: bold;
}

#navigation #google_ads {
	margin-top: 40px;
	padding-left: 5px;
	
	background-color: #f8f8f8;
}
